* {
	font-family: "微软雅黑";
	font-size: 16px;
}

.showBox {
	height: 40%;
	width: 40%;
	background: lightgrey;
	border-radius: 20px;
	position: absolute;
	left: 30%;
	padding: 2% 0%;
}
ul{
	list-style: none;
}
.showboxnav1 ul li {
	float: left;
	width: 33.3%;
	height: 28px;
	line-height: 28px;
	text-align: center;
}