* {
	font-family: "微软雅黑";
	font-size: 16px;
}

#showBox,#chBox {
	height: 20%;
	width: 40%;
	background: lightgrey;
	border-radius: 20px;
	position: absolute;
	left: 30%;
	top: 10%;
	display: none;
}
ul{
	list-style: none;
}
#chBox form{
	width: 300px;
	margin: 10px auto;
}
#showboxnav1{
	height: 50px;
}
#showboxnav1 div{
	text-align: center;
}
#showboxnav1 div a{
   line-height: 50px;
}
.showtableul{
	width: 100%;
	float: left;
	padding-left: 0px;
	margin: 0px;
	height: auto;
}
.showtableul ul{
	width: 500px;
	height: auto;
	margin: 0 auto;
}
.showtableul ul li {
	width: 100%;
	height: auto;
	float: left;
	display: none;
}
